.spinner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.spinner-icon-container {
  display: flex;
  justify-content: center;
}

.spinner-icon {
  display: block;
}

.spinner-message {
  margin-top: 10px;
  display: block;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
