<div class="container">
  <div class="row">
    <div class="col-6">
      <button class="btn btn-outline-primary" (click)="toggleDivALoading()">Toggle Loading for A</button>
    </div>
    <div class="col-6">
      <button class="btn btn-outline-primary" (click)="toggleDivBLoading()">Toggle Loading for B</button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          DIV A
        </div>
        <div class="card-body">
          <div *appSpinner="divALoading; message: 'Div A is Loading'">
            Some Content for A
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          DIV B
        </div>
        <div class="card-body">
          <div *appSpinner="divBLoading; message: 'Div B is Loading'">
            Some Content for B
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

